.title {
    font-size: 3.5em;
    margin: 20px 0 10px 0;

    text-transform: uppercase;
}
    .titleContainer {
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
    }


.btnSort {
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
}
    .sortSelect {
        border: none;
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 0.98em;
        color: rgb(116, 116, 116);
    }  
    /* ----- Not Work in Edge? ----- */
    /* .sortSelect option[selected] {
        font-weight: bold;
        color: blue;
    } */


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(25% - 15px));
    grid-gap: 20px;
    justify-content: left;
}
    .logo {

        background-color: rgb(230, 228, 226);
        width: 100%;
 
    }


