.header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}  
    .logo {
        width: 130px;
    }

    .section {
        display: flex;
        align-items: center;
    }
    .section a {
        margin: 10px;

        color: black;
        text-decoration: none;

        font-size: 1em;
    }
    /* ***** NavLink ---> .active **** */
    .active {
        /* color: rgb(170, 97, 97) !important; */
        color: rgb(175, 175, 175) !important;
    }



.header a:hover{
    /* color: rgb(170, 97, 97); */
    color: rgb(175, 175, 175);
  }

  .dropdown {
    min-width: 140px;
    margin: 0;
    padding: 0;
  }
    .dropdown_content {
        display: none;
        position: absolute;
        padding-bottom: 30px;

        /* background-color:rgb(248, 233, 214); */
        background-color:rgb(255, 255, 255);
        /* min-width: 160px; */
        width: 100%;
        left: 0;

        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown_content a {
        float: none;
        color: rgb(107, 107, 107);
        padding: 7px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown_content p {
        /* color: rgb(196, 76, 76); */
        color: rgb(83, 83, 83);
        padding: 20px 16px;
        font-size: 1.7em;

    }

    /* .dropdown_content a:hover {
        
    } */

    .dropdown:hover .dropdown_content {
        display: flex;
        align-items: top;
        justify-content: center;
        gap: 10%
    }



