.logo {
    width: 30%;
    min-width: 150px;

    /* -webkit-clip-path: inset(0 0 50px 0);
    clip-path: inset(0 0 50px 0); */
}
/* .container {
    position: relative;
}
.container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 43, 0.5);
} */

.title {
    color: rgb(139, 139, 139);
    font-size: 1.1em;
    font-weight: normal;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    position: relative;
    bottom: 40px;
}
.people {
    mix-blend-mode: multiply;
    /* mask-image: linear-gradient(rgba(0, 0, 0, 4), transparent); */
}